@page "/Grid"
<BorisGrid>
    <BorisGridItem X="1" Y="1" Width="1" Height="2">
        <div style="background-color: blue">
            This should be square
        </div>
    </BorisGridItem>
    <BorisGridItem X="5" Y="1" Height="5">
        <div style="background-color: red;">
        </div>
    </BorisGridItem>
    <BorisGridItem X="7" Y="1" Height="5">
        <div style="background-color: red;">
        </div>
    </BorisGridItem>
    <BorisGridItem X="9" Y="1" Height="5">
        <div style="background-color: red;">
        </div>
    </BorisGridItem>
</BorisGrid>