:root {
    --num-columns: 12;

    --start-column: auto;
    --end-column: auto;
    --start-row: auto;
    --end-row: auto;
    --aspect-ratio: 1;
}

::deep.BorisGrid {
    display: grid;
    grid-template-columns: repeat(var(--num-columns), 1fr);
    grid-auto-rows: minmax(0, 1fr);

    width: 100%;
    height: 100%;
}

::deep .BorisGridItem {
    grid-row: var(--start-row) / var(--end-row);
    grid-column: var(--start-column) / var(--end-column);
    aspect-ratio: var(--aspect-ratio);
}

::deep .BorisGridItem > * {
    height: 100%;
    width: 100%;
}